.list {
  border-top: 1px solid #eeeeee;
}

.list-item {
  padding: 0 15px;
}

.list-item-selected {
  composes: list-item;
  background-color: #B3D8FD;
}

.list-item-odd {
  composes: list-item;
  background-color: rgba(0, 0, 0, 0.03);
}

.list-item-empty {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
}

.loading-container {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
}

.path {
  margin-top: 3px;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
}
