.list {
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.list-item {
  padding: 0 15px;
}

.list-item-selected {
  composes: list-item;
  background-color: #B3D8FD;

  .descendable-indicator {
    color: rgba(0, 0, 0, 0.5);
  }
}

.list-item-odd {
  composes: list-item;
  background-color: rgba(0, 0, 0, 0.03);
}

.list-item-empty {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
}

.loading-container {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.path {
  margin-top: 3px;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
  line-height: 1.1;
}

.descendable-indicator {
  padding-left: 15px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.25);
  margin-left: auto;
}
